@media (max-width: $breakpoint-mobile) {

  // Home page
  .home-page {
    .container {
      padding-top: 35px;
      width: 100%;
    }

    .hero {
      height: 40vh;
      .hero-title {font-size: 36px;}
    }
  }

  // Filters
  .filters {
    .filter-category,
    .filter-format,
    .filter-sort {width: 270px;}
  }

  // Gallery
  .gallery {
    grid-template-columns: 1fr; // Changement de la grille (de 2 par défaut) à 1 colonne
    .gallery-item {height: 278px;}
  }

  // Footer
  .footer {}

  // Single Photo page
  .single-photo-page {padding-top: 20px;}

  .single-photo-page.container {width: 100%;}

  .single-photo {
    .row {flex-direction: column-reverse;}
    
    .single-photo-title {font-size: 46px;}
    .single-photo-content {padding: 0 55px;}
    .single-photo-img {padding: 0 55px;}

    .single-photo-footer.row {
      flex-direction: column;
    }

    .single-photo-footer {
      flex-direction: row;
      padding: 24px 55px;
      margin-bottom: 0;

      .single-photo-footer-txt {margin-right: 0;}
    }
  }

  .related-photos {
    align-items: center;
    gap: 20px;
    padding: 25px 30px;

    .related-photos-title {padding: 0 30px;}
  }

  .btn.view-all-photos {display: none;}
  
  .lightbox-prev {
    bottom: 50%;
    left: 30px;
    background-color: transparent;
    border: none;
}
.lightbox-next {
  bottom: 50%;
  right: 30px;
  background-color: transparent;
  border: none;
}

.lightbox-content img {
  width: 100%;
  max-height: 25vh;
  object-fit: cover;
}
}